/* styling for map when the modal displays */
#map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

/* styling for content including multiple text boxes */
#body-content {
  display: flex;
  text-align: center;
  margin-left:4em;
  margin-right: 4em;
  margin-bottom: 7em;
}

/* styling for form content */
#form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20em;
  margin-right: 20em;
  margin-bottom: 4em;

  padding-top: 2em;
  padding-bottom: 2em;
  
  background-color: #9098a6;
}


.sub-title {
  text-align: center;
}

/* individual content box styling */
.content-box {
  margin-left: 2em;
  margin-right: 2em;
  padding-right: 2em;
  padding-left: 2em;
  background-color: #9098a6;
}

/* styling for overall page */
html,
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #22324E;
}

/* styling for header, including bg image */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("earth1000.jpg");
  height: 500px;
}

header h1 { 
  text-align: center;
  color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

h1,
h3,
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
}

p {
  text-align: start;
}

/* Modal Styles From W3C */

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.on {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
